.bis{
  font-family: 'Noto Serif Bengali', serif;
  font-size: 20px;
  color: #fcfafa;
  background-color: #e9d68c;
  padding: 5px;
  text-shadow: 2px 2px 0 #2980b9, 4px 4px 0 #1f618d;
  text-align: center;
}
.top{
    text-align: center;
    padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 34px;
  background-color: antiquewhite;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #000;
  width: 0;
  animation: typing 4s steps(30) forwards, blink 0.6s step-end infinite;
}

@keyframes typing {
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
.atop{
  font-family: 'Poppins', sans-serif;
  font-size:20px;
  text-align: center;
  font-weight: bold;
  height: 60px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #efeded;
  width: 0;
  animation: typing 4s steps(30) forwards, blink 0.6s step-end infinite;
}

@keyframes typing {
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
img{
    width: 200px;
    height: 200px;
    border: solid 7px cornsilk;
    border-radius: 70px;
}
h4{
  font-size: 15px;
  color: #2e2c2c;
  text-shadow: 0 0 5px #00e6e6, 0 0 10px #00e6e6, 0 0 20px #00e6e6;
  background-color: #faf7f7;
  padding: 10px;
  display: inline-block;
}
.list{
  font-size:16px;
  font-weight: bold;
  background-color:beige;
}

